@charset "UTF-8";

:root{
    --cor01:#206410;
    --cor02:#08f85883;
    --cor03:#22ee70e0;
    --cor04:#ffffff;

    --gradient00:#2a6340;
    --gradient01:#273c75;
    --backgrond: #263D20;

    --cor:#ffffffa9;
}

 @media screen and (max-width: 380px){

    main{
        height: 120%;
    }

    #main{
        border-radius: 10px;
        max-width: calc(100% - 20px);
    }

    div#qrcode{
        max-width: 40%;
    }

    #setas{
        top: 69px;
        right: 14px;
        background-color: #22ee708f;
    }

    #res, #p-reload, .p-button0{
        margin: 10px;
    }


    
} 

@media screen and (min-width: 992px) {


    #container{
        width: 800px;
    }

    #main{
        margin-top: 10px;
        height: 590px;
        width: 80%;
        transform: translateX(-3%);
    }


    hr{
        width: 300px;
        margin: 15px 0px;
    }

    h1{
        margin: 5px;
        font-size: 1.9em;
    }

    input{
        margin: 20px 0px;
        padding: 10px;
    }

    footer{
        margin-top: 55px;
        transform: translateX(-5%);
    }
}