@charset "UTF-8";

:root{
    --cor01:#206410;
    --cor02:#08f85883;
    --cor03:#22ee70e0;
    --cor04:#ffffff;

    --gradient00:#2a6340;
    --gradient01:#273c75;
    --backgrond: #263D20;

    --cor:#ffffffa9;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

*{
    margin: 0;
    padding: 0;
}

*::selection{
    background-color: var(--cor031);
    color: var(--gradient01);
}

body{
    background-image: linear-gradient(30deg, var(--gradient00), var(--gradient01));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
}

h1{
    color: white;
    font-size: 1.2em;
}

hr{
    width: 180px;
    margin: 10px 0px;
    color: var(--cor);
}

a{
    text-decoration: none;
    color: white;
}

main{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    height: 56vh;
    display: flex;
    align-items: center;   
}

section#main{
    /* centralização */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    
    border-radius: 27% 73% 61% 39% / 36% 29% 71% 64% ;
    background-color: var(--cor02);
    max-width: 100%;
    max-height: 100%;
    width: 430px;
    height: 430px;
    
}

input{
    margin: 8px 0px;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

input:focus{
    outline: 0;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.507);
}

p.p-button01{
    padding: 15px 10px;
    margin-bottom: 10px;
    background-color: var(--cor03);
    color: white;
    border-radius: 10px;
    cursor: /* default */ grab;
    transition:  0.7s;
}

p.p-button01:hover{
    transform: scale(1.10);
    transition: transform 0.7s;
}


p.p-button01:active{
    background-color: var(--cor02);
    transition:  0.7s;
}

p.p-button02{
    max-width: 140px;
    margin-top: 50px;
    text-align: right;
    margin-right: 150px;
}

p.p-reload{
    max-width: 120px;
    font-size: 0.9em;
    font-weight: normal;
    margin-top: 8px;
    padding: 7px;
    background-image: linear-gradient(to right , rgba(35, 224, 67, 0.822), rgba(42, 236, 100, 0.849));
    color: white;
    border-radius: 8px;
    cursor: default ;
    transition: 0.7s;
}

p.p-reload:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

img{
    max-width: 160px;
}

div#qrcode{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--cor03);
    margin: 10px;
}

@media screen and (min-width: 680px) {

    main{
        max-width: 960px;
        height: auto;
        margin-bottom: 10px;
    }

    section#main{
        margin-top: -47px;
        max-width: 100%;
        max-height: 100%;
        width: 600px;
        height: 600px;
    }

    img{
        max-width: 170px;
    }

    hr{
        width: 300px;
        margin: 15px 0px;
        color: var(--cor);
    }

    h1{
        margin: 5px;
        font-size: 1.9em;
    }

    input{
        margin: 20px 0px;
        padding: 10px;
    }

    p.p-reload{
        max-width: 140px;
        margin-top: 30px;
        padding: 7px;
    }
    
    footer{
       height: 1px;
       width: auto;
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 35vh;
    /* background-color: var(--gradient01); */
}

#p-footer{ 
    max-width: 300px;
    padding: 4px;
    color: white;
}