@charset "UTF-8";

:root{
    --cor01:#206410;
    --cor02:#08f85883;
    --cor03:#22ee70e0;
    --cor04:#ffffff;

    --gradient00:#2a6340;
    --gradient01:#273c75;
    --backgrond: #263D20;

    --cor:#ffffffa9;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

*{
    margin: 0;
    padding: 0;
}

*::selection{
    background-color: var(--cor031);
    color: var(--gradient01);
}


body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(30deg, var(--gradient00), var(--gradient01));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
}

h1{
    color: white;
    font-size: 1.2em;
}

hr{
    width: 180px;
    height: 1px;
    margin: 10px 0px;
    border: none;
    background-color: var(--cor);
}

a{
    text-decoration: none;
    color: white;
}

main{
    width: 100%;
    height: 100%;
}

#container{
    width: 98%;
    margin: auto;
    height: 550px;
    display: flex;
    align-items: center;   
}

#main{
    /* centralização */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    
    border-radius: 27% 73% 61% 39% / 36% 29% 71% 64% ;
    background-color: var(--cor02);
    max-width: 420px;
    max-height: 580px;
    margin: auto;
    width: 100%;
    height: 80%;
}

input{
    margin: 8px 0px;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

input:focus{
    outline: 0;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.507);
}

/*
p.p-button01{
    padding: 15px 10px;
    margin-bottom: 10px;
    background-color: var(--cor03);
    color: white;
    border-radius: 10px;
    cursor:  default;
    transition:  0.7s;
}

 p.p-button01:hover{
    transform: scale(1.10);
    transition: transform 0.7s;
}


p.p-button01:active{
    background-color: var(--cor02);
    transition:  0.7s;
}

p.p-button02{
    max-width: 140px;
    margin-top: 50px;
    text-align: right;
    margin-right: 150px;
} */

p.p-reload{
    max-width: 140px;

    text-align: center;
    font-size: 0.9em;
    background-image: linear-gradient(150deg, rgba(35, 224, 67, 0.822), rgba(78, 236, 126, 0.849));
    color: white;

    margin-top: 8px;
    padding: 6px;
    border-radius: 8px;
    cursor: default ;
    transition: width 0.7s;
}

p.p-reload:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

img{
    max-width: 100%;
}

div#qrcode{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--cor03);
    margin: 10px;
    max-width: 30%;
}

footer{
    text-align: center;
    margin: auto;
    padding: 5px;
    /* background-color: var(--gradient01); */
}

#p-footer{ 
    padding: 4px;
    color: white;
}


/*  menu */
#setas{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: left;
    cursor: pointer;
    position: fixed;
    top: 5vh;
    right: 10px;
    width: 40px;
    height: 38px;
    border-radius: 10px;
    padding-bottom: 8px;
    z-index: 1;
    background-color: var(--cor03);
    animation: remobig 0.6s both;
}

/* adicionando a animação de crescer o menu */
#setas.actived_02{
    animation: big 0.5s both;
}

@keyframes big {/* crescer o Menu */
    0%{
        width: 40px;
        height: 45px;
    }
    100%{
        width: 90px;
        height: 45px;
    }
}

@keyframes remobig {/* diminuir o menu */
    100%{
        width: 40px;
        height: 45px;
    }
    0%{
        width: 90px;
        height: 45px;
    }
}

div#menu02{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 18px;
    height: 3px;
    border-radius: 2px;
    transform: rotate(-45deg);
    background-color: aliceblue;
    z-index: 1;
    transition: all 0.7s;
}

div#menu01{
    position: absolute;
    top: 31px;
    right: 10px;
    width: 18px;
    height: 3px;
    border-radius: 2px;
    transform: rotate(45deg);
    background-color: aliceblue;
    z-index: 1;
    transition: all 0.7s;
}

div#menu01.actived{
    top: 24px;
    width: 25px;
    animation: rotateTw ease-in-out;
    transition: all 0.7s;
    z-index: 1; /* animação da seta > x */
}

div#menu02.actived{
    top: 24px;
    width: 25px;
    animation: rotateOn ease-in-out;
    transition: all 0.7s; /* animação da seta > x */
}

@keyframes rotateOn {/* animação rotação */
    0%{
        transform: rotate(-45deg);
    }
    
    100%{
        transform: rotate(-50deg);
    }
}

@keyframes rotateTw { /*  animação rotação */
    0%{
        transform: rotate(45deg);
    }
    
    100%{
        transform: rotate(49deg);
    }
}

#linkHome{
    position: absolute;
    width: 30px;
    right: 50px;
    margin: 10px 0px 0px 0px;
}


#img-home{/*  imagem home */
    display: none;
    transition: opacity 0.7s;
    opacity: 0;
}

#img-home.mostrar{/* transição de surgimento */
    margin-right: 50px;
    opacity: 1;
}

img#img-home, img#img-menu, img#img-off{
    width: 30px;
}