@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
    background: rgb(238, 174, 202);  
    background: radial-gradient(circle, 
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1)100%
    );
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.EXcolor{
    background-color: rgb(209, 41, 125);
}

.EXcolor02{
    background-color: #ff6666;
}

.theme-toggler::before{
    content: "";
    height: 16px;
    width: 31px;
    position: absolute;
    top: -11;
    right: 4px;
    transform: rotate(-40deg);
    border-radius: 0 0 100px 100px;
    overflow: hidden;
    background-color: #333;
    z-index: -1;
}  

.toggler-icon::after{
    content: "";
    background-color: rgba(32, 32, 32, 0.253);
    height: 17px;
    width: 31px;
    position: absolute;
    top: -11px;
    right: 13px;
    transform: rotate(140deg);
    border-radius: 0 0 100px 100px;
    z-index: 1;
}

.theme-toggler.active::before{
    background-color: rgb(219, 219, 219);
}

.toggler-icon.active::after{
    background-color: rgb(218, 238, 255);
}

.calculator div.card-1{
    background-color: #db7f8e;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 10px 0px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.253);
}

.calculator div.card-2{
    background-color: #339989;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 10px 0px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.253);
}

.calculator div.card-3{
    background-color: #19647e;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 10px 0px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.253);
}

.calculator.dark div.card-1{
    background-color: #785964;
}

.calculator.dark div.card-2{
    background-color: #3a606e;
}

.calculator.dark div.card-3{
    background-color: #566246;
}

.button::before {
    content: "";
    display: inline-block;
    width: 40px;
    padding: 10px;
    height: 20px;
    background-color: rgb(0, 255, 179);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0; 
    /* animation: move 2s infinite; */
}

.button:hover{
    animation: move 2s ease-in;
}
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    75%{
        transform: translateX(25px);
    }
    100% {
      transform: translateX(100px);
    }
  }
