@charset "UTF-8";

/* Configurações Media Query */

/* Typical Devices Breakpoints

pequenas telas: até 600px

celular: 600px até 768px

tablet: 768px até 992px

desktops: 992px até 1200px

grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) {/* não vai mostrar hamburger */
    span#menu-bugger{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        margin: 0px 10px 0px 10px;
        padding: 0px 5px 0px 5px;
    }

    menu > ul > li >  hr{
        max-width: 0px;
        transition: all 0.2s ease-in;
    }

    menu > ul > li >  hr:hover{
        transition: all 1s ease-in-out;
    }

    hr#hr-topo{
        display: block;
    }

    main{
        max-width: 800px;
    }
}