@charset "UTF_8";

:root{
    --background00: #6E5651;
    --background01: #6E3C30;
    --background02: #b98d83;

    --color-light00: #ebc7a5;
    --color-light01: #f7d39e;
    --color-light02: #dfceb8;
    --color-light03: #eee2d1;

    --color00: #dbaf88;
    --color01: #ccb08c;
    --color02: #e7b185;

    --alternative00: #64D2BA;
    --alternative01: #469181;
    --alternative02: #275248;
    --alternative03: #203834;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

html, body{
    background-color: var(--color-light03);
}

header{
    background-color: var(--alternative00);
}

header > h1{
    text-align: center;
    padding: 40px;
}

span#menu-bugger{
    background-color: var(--color00);
    display: block;
    text-align: center;
    color: var(--color-light03);
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

span#menu-bugger:hover{
    background-color: var(--color-light01);
    color: var(--background01);
}

menu{
    display: none;
}

menu > ul {
    list-style: none;
    background-color: var(--color-light00);
}

menu > ul > li > a{
    text-align: center;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--color-light00)
}

menu > ul > li > a:hover{
    background-color: var(--color-light00);
    color: var(--background00);
}

menu > ul > li >  hr{
    height: 2px;
    max-width: 40px;
    border: none;
    background-color: var(--background01);   
    display: block;
    margin: auto;
    transition: all 0.5s ease-in;
}

ul > li:hover > hr{
    transition: all 0.3s ease-in-out;
    max-width: 400px;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

main > article{
    padding-bottom: 10px;
    font-size: 1.1em;
}

article > h2{
    color: var(--alternative03);
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    line-height: 1.9em;
}

article > ul{
    border-radius: 10px;
    background-color: var(--color-light00);
    margin-left: 5px;
    padding: 30px;
    list-style: circle;
}

article > ul > li{
    margin-top: 10px;
    max-width: 80%;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--alternative01);
    height: 100px;
    margin-top: 80px;
    padding: 30px 10px 10px 10px;
    text-align: left;
}

#section-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

footer > section > p{
    font-size: 1em;
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    color:var(--alternative03);
}

footer > section > ul{
    list-style: none;
}

footer > section > ul > li{
    margin: 5px;
}

.link-footer{
    font-size: 0.8em;
    color: white;
}
.link-footer:hover{
    color: var(--alternative00);
}

hr#hr-footer{
    display: inline;
    border: none;
    width: 1px;
    height: 90%;
    background-color: var(--alternative00);
}