@charset    'UTF-8';

@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900 & display=trocar');

@font-face {
    font-family: Sans francisco r;
    src: url('sans_fransisco/Sans\ Fransisco\ Regular.ttf')
    format('truetype');
    font-size: normal;
    font-style: normal;
}

@font-face {
    font-family: sans francisco sb;
    src: url('sans_fransisco/Sans\ Fransisco\ Semi\ Bold.ttf')
    format('opentype');
}

@font-face {
    font-family: roboto;
    src: url('roboto/Roboto-Light.ttf')
    format('truetype');
}

@font-face {
    font-family: roboto bold;
    src: url('roboto/Roboto-BoldCondensed.ttf')
    format('truetype');
}

@font-face {
    font-family: roboto bold italic;
    src: url('roboto/Roboto-BoldItalic.ttf')
    format('truetype');
}

:root{
    --cor0:#F2F2F2;
    --cor01:#d0e5f7;
    --cor02:#6db5f3;
    --cor03:#1376ce;
    --cor04:#065ac7; 
    --cor05:#05418f;
    
    --fonte0: sans francisco r, arial, helvetica, sans-serif;
    --fonte01: sans francisco sb, arial, helvetica, sans-serif;
}
body{
    background-color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
}
*{
    padding: 0;
    margin: 0;
    
}
header{
    color: #f2f2f2;
    background-image: linear-gradient(to right, var(--cor05), #F2F2F2);
    font-family: Roboto bold;
    text-align: left;
    height: 150px;
    padding: opx 10px 0px 10px;
}

header > h1{
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.699);
    margin: 0px 0px 10px 10px;
    padding: 40px 0px opx 10px;
}

header > p{
    padding: 0px 0px 10px 10px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.699);
}

nav{
    background-image: linear-gradient(to right, #05418f, #F2F2F2);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.415);
}

nav > a {
    font-family: roboto bold;
    color: white;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: var(--cor05);
    text-decoration: none;
}

a:hover{
    background-color: var(--cor03);
}

a:active{
    background-color: var(--cor02);
}

main{
    background-color: var(--cor0);
    margin: auto;
    display: block;
    text-align: center;
    min-width: 400px;
    max-width: 1000px;
    height: auto;
    box-shadow: Opx 3px 4px black;
}

h1.titulo{
    text-align: left;
    color: var(--cor05);
    padding-left: 5px;
    background-image: linear-gradient(to right, var(--cor02), var(--cor0) );
}

aside{
    padding: 20px;
    background-color: var(--cor0);
    margin-bottom: 70px;
    box-shadow: Opx 3px 4px black;
}

aside > p{
    text-align: justify;
}

aside > picture{
    width: 100%;
}

aside.crosd{
    margin-top: 30px;
    border-radius: 10px;
    background-color: var(--cor02);
}

footer{
    background-color: #065ac7;
    width: auto;
    height: 20px;
}

footer > p{
    text-align: center;
    color: white;
}