@charset "UTF-8";

@font-face {
    font-family: 'Passion One';
    src: url('pacote-d012/Passion_One/PassionOne-Regular.ttf') format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Passion One', Bold;
    src: url('pacote-d012/Passion_One/PassionOne-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Passion One', bolder;
    src: url('pacote-d012/Passion_One/PassionOne-Black.ttf') format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Sriracha', cursive;
    src: url('pacote-d012/Sriracha/Sriracha-Regular.ttf') format('truetype');
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

*{
    padding: 0;
    margin: 0;
}

:root{
    --color00: #ffffff;
    --color01: #000000;
    --color03:#0000008a;

    --fonte00:'Passsion One';
    --fonte01: 'Passion One', bold;
    --fonte02: 'Passion One', bolder;
    --fonte03: 'Sriracha', cursive;
}

a{
    color: var(--color00);
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

header{
    margin: auto;
    height: 250px;
    background-color: var(--color01);
    color: var(--color00);
    text-align: center;
    
}

header > h1{
    width: 100%;
    padding-top: 40px;
    font-family: var(--fonte01) ;
    font-size: 8.0em;
}
header > p{
    width: 100%;
    font-size: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    font-size: 2.6em;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    font-style: italic;
    line-height: 80px;
    text-align: left;
    margin: 100px 0px 100px 30px;
    width: 490px;
    min-width: 100px;
    height: auto;
     
}

main#meio{
    /* margin: 50px 0px 50px 0px; */
    padding: 0px 0px 0px 0px; 
    margin: 900px 0px 100px 30px;
}

main#final{
    margin: 940px 0px 150px 30px;
}

article{
    color: var(--color00) ;
    /* font-size: 2.6em; */
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    font-style: italic;
    line-height: 80px;
    text-align: left;
    margin: 30px 0px 30px 0px;
    width: 100%;
    min-width: 100px;
    height: 107%;
     
    background-image: url('pacote-d012/imagens/background001.jpg');
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    
}

section{
    position: relative;
}

#text{
    height:auto;
    width: 100%;
    max-width: 615px;
    min-height: 500px;
    font-size: 2.6em;
    padding-top: 0px;
    margin-top: 85px;
    margin-left: 30px;
    margin-right: 760px;
    margin-bottom: 30px;
    margin-bottom: -10px;
    padding-left: 5px;
    background-color: var(--color03);
    text-align: left;
}

article#image02{
    background-image: url('pacote-d012/imagens/background002.jpg');
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    height: 111%;
}


section#text02{
    height:auto;
    width: 100%;
    max-width: 615px;
    min-height: 500px;
    font-size: 2.6em;
    padding-top: 0px;
    margin-top: 85px;
    margin-left: 30px;
    margin-right: 760px;
    margin-bottom: 30px;
    margin-bottom: -10px;
    padding-left: 5px;
    background-color: var(--color03);
    text-align: left;
}

footer{
    text-align: center;
    margin-top: 40px;
    margin: auto;
    height: 20px;
    background-color: var(--color01);
    color: var(--color00);
}

footer > p{
    color: darkslategrey;
}

.foot{
    text-decoration: none;
    color: var(--color00);
}

.foot:hover{
    color: darkslategray;
    text-decoration: underline;
}