@charset "UTF-8";


body{
    background-image: url('../pacote-d013/imagens/frame-iphone.png');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom bottom;
}

#img{
    display: block;
    margin: auto;
    max-height: 75.0vh;
    padding-right: 5px;
    margin-top: 12.85vh ;
}
